body{
    color: white;
}

.choice-container
{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: yellow;
    font-size: 3rem;
    min-width: 80rem;

}

.choice-container:hover
{
    cursor: pointer;
    box-shadow: 0 0.4 yellow;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix
{
    padding: 2rem 2.5rem;
    color: rgb(0, 0, 0);

}

.choice-text
{
    padding: 2rem;
    width: 100%;
    color: black;
}

.correct
{
    background: chartreuse;
}

.incorrect
{
    background: crimson;
}

#hud
{
    display: flex;
    justify-content: space-between;
}

.hud-prefix
{
    text-align: center;
    font-size: 2rem;

}

.hud-main-text
{
    text-align: center;
}

#progressBar
{
    width: 20Rem;
    height: 3rem;
    border: 0.2rem solid chartreuse;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull
{
    height: 100%;
    background: chartreuse;
    min-width: 0;
}


@media screen and (max-width: 768px)
{
    .choice-container
    {
        min-width: 40rem
    }
}